/* HostingService.css */
.Hosting-Technical-Specifications {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 2px solid red;
}
.Hosting-Technical {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(10, 71, 238);
}
.Specifications h2 {
  display: flex;
  align-items: flex-start;
  font-size: 32px;
  color: #181b22;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border: 2px solid red;
}

.Specifications p {
  display: flex;
  text-align: start;
  font-size: 16px;
  color: #808080;
  border: 2px solid rgb(144, 102, 102);
}

.Technical-Specifications-table {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
 .Technical-Specifications {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  border: 2px solid green;
}

.table-heading {
  display: flex;
  flex-direction: row;
  gap: 300px;
  border: 2px solid yellow;
  font-size: 22px;
  font-weight: bold;
  color: #a5215e;
  margin-bottom: 10px;
}

.table-item {
  display: flex;
  flex-direction: row;
  gap: 300px;
  
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  color: #242830;
  background-color: #fff;

}
.table-item svg {
  margin-right: 10px;
  font-size: 18px;
  color:#57b30c;
} 
.pink-badge {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ff66b2;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
}
.specs-btn {
  background-color: #ff6a85;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.specs-btn:hover {
  background-color: #e6415e;
}

@media (max-width: 768px) {
  .Technical-Specifications-table {
    flex-direction: column;
  }
  
  .table-item {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.hr{
  color: red;
}